body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
​
.logout-link {
  cursor: pointer;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  background: linear-gradient(to right, #000000, #222222); 
  color: #ff7700;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
}

p {
  font-size: 1em;
  color: #5d5d5d;
  font-style: italic;
}

.title__desc{
  color: white;
}

.about-us,
.featured-knives,
.contact-us {
  margin-bottom: 20px;
}

.knife-list {
  display: flex;
  justify-content: space-around;
}

.knife-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #f9f9f9;
}

.knife-image {
  max-width: 100%;
  height: auto;
}

.knife-description {
  color: #555;
}

.knife-price {
  font-weight: bold;
  color: #333;
}
